
{% if session.username %}
    Course: {{session.courseName}}

    <p>Teacher: {{session.teacher}}</p>
    <form action="/courseInfo" method="POST"> 
        <input type="hidden" name="name" value="{{session.courseName}}"> 
        <input type="submit" value="Refresh page">
    </form>
    <p>Course description:</p>
    {{session.desc}}
    {% if session.accountType == 1 and session.notOnCourse%}
    <form action="/joinCourse" method="POST">

        <input type="hidden"name = "courseName" value = "{{session.courseName}}">
        <input type="hidden"name = "username" value = "{{session.username}}">
        
        <input type="submit" value="Join course">
    </form>

    {% endif %}
    {% if session.teacher == session.username%}
    <form action="/courseStudentsStats" method="POST">
        <input type="hidden"name = "courseName" value = "{{session.courseName}}">
        <input type="submit" value="Course statistics">
    </form>
    <p><a href="/editDesc" method = "GET">Edit course description</a></p>
    <p><a href="/createTask" method = "GET">New Task</a></p>
    <form action="/deleteCourse" method="POST">
        <input type="hidden"name = "courseName" value = "{{session.courseName}}">
        <input type="submit" value="Delete Course">
    </form>
    {% endif %}

    {%if session.notOnCourse == false%}
        <p>Tasks:</p>
        {%for task in session.task %}

        <form action="/task" method="POST"> 
            <input type="hidden" name="name" value="{{task}}"> 
            <input type="submit" value="{{task}}">
        </form>
        {% if session.teacher == session.username%}
        <form action="/deleteTask" method="POST"> 
            <input type="hidden" name="taskName" value="{{task}}"> 
            <input type="submit" value="Delete Task ^">
        </form>  
        {% endif %}
        {% endfor %}
        
        <p>Task progression:</p>
        {%for task in session.taskAnswers%}
        <p>{{task}}</p>
        {% endfor %}
    {% endif %}
    <form action="/exit">
        <input type="submit" value="Return to menu">
    </form>
{%else%}
<p>You need to login to view this page</p>
<a href="/login" method = "GET">Login</a>
    
{%endif%}

